<!-- Groups Controller -->

<div class='row'>
<div clas='large 10 columns'>

    <h1><%= @group.name %></h1>
    <p><%= link_to "Edit Group", edit_group_path(@group) %></p>
    <p><%= link_to "Back", root_path %></p>

  </div>
</div>



<div class='row'>
  <div class='large-4 columns'>

      <%= simple_form_for [@group, @event] do |f| %>
        <%= f.input :name, label: "Event Name"  %>
        <%= f.input :fakedate, label: "Date", input_html: { class: 'datepicker'}, as: :string %>
        <%= f.input :faketime, label: "Time", input_html: { class: 'timepicker'}, as: :string %>
        <%= f.button :submit, class: "button" %>
      <% end %>

  </div>
  <div class='large-4 columns'>

    <%= simple_form_for [@group, @membership] do |f| %>
      <%= f.input :email  %>
      <%= f.button :submit, "Add Member", class: 'button' %>
    <% end %>

    <div><%= link_to "Invite a friend", new_group_invitation_path(@group), data: { confirm: "Feature coming soon" } %></div>

  </div>

  <div class='large-4 columns'>

      <table>
        <thead>
          <tr>
            <th width="290">Members</th>
          </tr>
        </thead>
        <% @members.each do |member| %>
        <tbody>
          <tr>
            <td width="290"><%= "#{member.first_name} #{member.last_name}" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>

  </div>
  <div class='large-12 columns'>

      <table>
        <thead>
          <tr>
            <th width="200">Event:</th>
            <th width="250">Countdown:</th>
            <th width="250">Most Voted On location:</th>
            <th width="250"># of votes:</th>
          </tr>
        </thead>
        <% @events.each do |event| %>
        <tbody>
          <tr>
            <td><%= link_to "#{event.name}", event_path(event) %></td>
            <td><%= event.countdown %></td>
            <td><%= event.location %></td>
            <td><%= event.count %></td>
          </tr>
        <% end %>
        </tbody>
      </table>

  </div>
</div>