<!-- Groups Controller -->

<div class='row'>
<div clas='large 10 columns'>

    <h1><%= @group.name %></h1>
    <p>
      <div class='top-links'>
        <%= link_to "Back", root_path %>
        <%= link_to "Edit Group", edit_group_path(@group) %>
      </div>
    </p>

  </div>
</div>


<div class='row'>
  <div class='large-4 columns'>

      <%= simple_form_for [@group, @event] do |f| %>
        <%= f.input :name, label: "Event Name"  %>
        <%= f.input :fakedate, label: "Date", input_html: { class: 'datepicker'}, as: :string %>
        <%= f.input :faketime, label: "Time", input_html: { class: 'timepicker'}, as: :string %>
        <%= f.button :submit, class: "button" %>
      <% end %>
  </div>


  <div class='large-4 columns'>
    <%= simple_form_for [@group, @nag] do |f| %>
      <%= f.hint "Sending a 'nag' will generate an email to the entire group." %><br><br>
      <%= f.input_field :body, placeholder: "Whats naggin' you..."  %>
      <%= f.submit "Send Nag", class: "button [tiny small large secondary alert]" %>
    <% end %>
  </div>


  <div class='large-4 columns'>
      <table>
        <thead>
          <tr>
            <th width="290">Members</th>
          </tr>
        </thead>
        <% @members.each do |member| %>
        <tbody>
          <tr>
            <td width="290"><%= "#{member.first_name} #{member.last_name}" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>

      <%= simple_form_for [@group, @membership] do |f| %>
        <%= f.input :email  %>
        <%= f.button :submit, "Add Member", class: 'button' %>
      <% end %>

    <div>
      <%= link_to "Invite a friend", new_group_invitation_path(@group), data: { confirm: "Feature coming soon" } %>
    </div>
  </div>


  <div class='large-12 columns'>
      <table>
        <thead>
          <tr>
            <th width="200">Event:</th>
            <th width="250">Countdown:</th>
            <th width="250">Most Voted On location:</th>
            <th width="250"># of votes:</th>
          </tr>
        </thead>
        <% @events.each do |event| %>
        <tbody>
          <tr>
            <td><%= link_to "#{event.name}", event_path(event) %></td>
            <td><%= event.countdown %></td>
            <td><%= event.location %></td>
            <td><%= event.count %></td>
          </tr>
        <% end %>
        </tbody>
      </table>

      <% @group.comments.each do |comment| %>
        <div class='panel radius'>
          <strong><%= comment.author.first_name %></strong><br><br>
          <%= comment.body %>
    <% if current_user == comment.author %>
          <div class='right'>
            <%= link_to "Delete comment", group_comment_path(@group, comment), method: :delete, data: {confirm: "Are you Sure?"} %>
          </div>
    <% end %>
      </div>
  <% end %>

      <%= simple_form_for [@group, @comment] do |f| %>
        <%= f.text_field :body, placeholder: "Add a comment" %>
        <%= f.button :submit, class: 'button' %>
      <% end %>

  </div>
</div>