<!-- Groups Controller -->

<div class='row'>
<div clas='large 10 columns'>

    <h1><%= @group.name %></h1>
    <p>
      <div class='top-links'>
        <%= link_to "Back", root_path %>
        <%= link_to "Edit Group", edit_group_path(@group) %>
      </div>
    </p>

  </div>
</div>


<div class='row'>
  <div class='large-4 columns'>

      <%= simple_form_for [@group, @event] do |f| %>
        <%= f.input :name, label: "Event Name", placeholder: "Name"  %>
        <%= f.input :fakedate, label: "Date", input_html: { class: 'datepicker'}, as: :string, placeholder: "Date" %>
        <%= f.input :faketime, label: "Time", input_html: { class: 'timepicker'}, as: :string, placeholder: "Time" %>
        <%= f.button :submit, class: "button small success" %>
      <% end %>
  </div>


  <div class='large-4 columns'>
    <%= simple_form_for [@group, @nag] do |f| %>
      <%= f.hint "Sending a 'nag' will generate an email to the entire group." %><br><br>
      <%= f.input_field :body, placeholder: "Whats naggin' you..."  %>
      <%= f.submit "Send Nag", class: "button tiny secondary" %>
    <% end %>
    Last nag sent at:
    <br>
    <br>
    <div class='highlight'><%= @group.last_nag_time %></div>
    <br>
    ...sent by:
    <br>
    <br>
    <div class="highlight"><%= @group.last_nag_creator %></div>
    <br>

  </div>


  <div class='large-4 columns'>
      <table>
        <thead>
          <tr>
            <th width="290">Members</th>
            <th width="290">Email</th>
          </tr>
        </thead>
        <% @members.each do |member| %>
        <tbody>
          <tr>
            <td width="290"><%= "#{member.first_name} #{member.last_name}" %></td>
            <td width="290"><%= member.email %></td>

          </tr>
        <% end %>
        </tbody>
      </table>

      <%= simple_form_for [@group, @membership] do |f| %>
        <%= f.input :email, placeholder: "enter a valid users email"  %>
        <%= f.button :submit, "Add Member to Group", class: 'button tiny' %>
      <% end %>

    <a href="#" data-reveal-id="myModal" data-reveal>Invite a Friend</a>

    <div id="myModal" class="reveal-modal" data-reveal>
      <h2>Invite a Friend.</h2>
        <div class="lead">
          <%= simple_form_for [@group, @invitation] do |f| %>
            <%= f.input :email %>
            <%= f.button :submit, class: "button small" %>
          <% end %>
        </div>
        <p>Enter a valid email address to invite someone to 'Plan with Friends'. They will be prompted to sign up and be added to this group.</p>
        <a class="close-reveal-modal">&#215;</a>
      </div>
    <br>
    <br>
  </div>


  <div class='large-12 columns'>
      <table>
        <thead>
          <tr>
            <th width="200">Event:</th>
            <th width="250">Countdown:</th>
            <th width="250">Most Voted On location:</th>
            <th width="250"># of votes:</th>
            <th width="250">Proposed By:</th>
          </tr>
        </thead>
        <% @events.each do |event| %>
        <tbody>
          <tr>
            <td><%= link_to "#{event.name}", event_path(event) %></td>
            <td><%= event.countdown %></td>
            <td><%= event.location %></td>
            <td><%= event.count %></td>
            <td><%= event.user.try(:first_name).try(:capitalize) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>

      <div id='comment_form'>
        <%= simple_form_for([@group, @comment], remote: true) do |f| %>
          <%= f.text_field :body, placeholder: "add a comment" %>
          <%= f.button :submit, class: 'button tiny secondary' %>
        <% end %>
      </div>

      <% @group.comments.order(created_at: :desc).each do |comment| %>
        <div class='panel radius'>
          <strong><%= comment.author.first_name %></strong><br><br>
            <%= comment.body %>
    <% if current_user == comment.author %>
          <div class='right'>
            <%= link_to "Delete comment", group_comment_path(@group, comment), method: :delete, data: {confirm: "Are you Sure?"} %>
          </div>
          <br><br>
    <% end %>
          <div class='right'>
            <%= comment.created_at.strftime('%I:%M%P  %B %d, %Y') %>
          </div>
      </div>
  <% end %>

  </div>
</div>