<h1><%= @group.name %></h1>
<p><%= link_to "Your Groups", groups_path %></p>
<p><%= link_to "Edit Group", edit_group_path(@group) %></p>
<br>
<br>
<p><%= link_to "Add Event", new_group_event_path(@group) %></p>

<%= simple_form_for [@group, @membership], controller: :membership, action: :create do |f| %>
  <%= f.text_field :email  %>
  <%= f.button :submit, "Add Member" %>
<% end %>

<h4>Users:</h4>
<% @members.each do |member| %>
  <%= member.first_name %>
  <%= member.last_name %><br>
<% end %>
<br>
<h4>Events</h4>
<% @events.each do |event| %>
  <%= event.name %>
  <%= event.time %><br>
<% end %>
