<!-- Events Controller -->

<div class='row'>

  <div class='large-6 columns'>
      <h1><%= @event.name %></h1>
      <p>back to group: <%= link_to "#{@group.name}", group_path(@group) %></p>
      <p><%= link_to "Edit Event", edit_event_path(@event) %></p>
      <br>
      <h4><%= @event.time.strftime(' %I:%M%P  %B %d,  %Y') %></h4>
      <h4><strong><%= @event.location %></strong></h4>
      <h4>Proposed by:  <strong><%= @event.user.try(:first_name).try(:capitalize) %></strong></h4>

      <%= simple_form_for [@event, @proposed_location] do |f| %>
        <%= f.input :name, label: "Where do you want to go?" %>
        <%= f.button :submit, class: 'button' %>
      <% end %>

      <% if @vote %>
        <%= link_to "Destroy Vote", vote_path(@vote), method: :delete, class: "button [tiny small large secondary alert]" %>
        <%= "You voted for: #{@vote.find_location(@vote)}" %>
      <% end %>

      <br>
      <% @proposed_locations.each do |location| %>
        <% unless @vote %>
          <%= link_to "+1", proposed_location_votes_path(location), method: :post %><br>
        <% end %>
        <%= location.name %>:
        <%= location.votes.count %><br><br>
      <% end %>
  </div>

  <div class='large-6 columns right'>
  <br>
  <br>
      <%= simple_form_for [@event, @comment] do |f| %>
      <%= f.text_field :body %>
      <%= f.button :submit, class: 'button' %>
    <% end %>
      <% @event.comments.order(created_at: :desc).each do |comment| %>
        <div class='panel radius'>
          <strong><%= comment.author.first_name %></strong><br><br>
          <%= comment.body %>
          <div class='right'>
            <%= comment.created_at.localtime.strftime('%I:%M%P  %B %d, %Y') %><br>
          </div>
          <br
          <br>
          <br>
    <% if current_user == comment.author %>
          <div class='right'>
            <%= link_to "Delete comment", event_comment_path(@event, comment), method: :delete, data: {confirm: "Are you Sure?"} %>
          </div>
    <% end %>
        </div>
      <% end %>

  </div>



</div>


