<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Plan with Friends" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

<body>

<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "P-w-F", root_path%></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li>
        <% if user_signed_in? %>
          <%= link_to "Profile", profile_path(current_user) %>
        <% end %>
      <li>
      <li class="active">
        <% if user_signed_in? %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        <% end %>
      </li>
      <li class="has-dropdown">
        <ul class="dropdown">
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li>
    <% if user_signed_in? %>
      <ul class="left">
        <li><%= link_to "Home", root_path %></li>
        <% @your_groups.each do |group| %>
          <li><%= link_to "#{group.name}", group_path(group) %></li>
        <% end %>
        <li class="has-form">
          <div class="row collapse">
            <div class="large-8 small-9 columns">
              <%= form_tag("/profiles", method: 'get') do %>
                <%= text_field_tag 'search', nil, placeholder: "Find a user" %>
              <% end %>
            </div>
            <div class="large-4 small-3 columns">
              <%= submit_tag('Search', class: 'button alert') %>
            </div>
          </div>
        </li>
      </ul>
      <% end %>
      </li>
    </ul>
  </section>
</nav>



    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "#{name} alert-box" %>
    <% end %>

    <%= yield %>

    <%= javascript_include_tag "application" %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47427172-3', 'planwithfriends.co');
  ga('send', 'pageview');

</script>



</body>
</html>
